.Footer-Content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}

.Footer-Content > .links,
p {
  color: rgb(195, 195, 195);
}

.Footer-Content > .links:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Footer-Content p {
  margin: 3px;
}

@media screen and (min-width: 700px) {
  .Footer-Content {
    justify-content: left;
  }
}
