.Stories {
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  column-gap: 10px;
  max-width: calc(8 * (68px) + 10px * 7);
}

.Stories-Wrapper {
  display: flex;
  justify-content: center;
}
