main {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  overflow-x: hidden;
}

main > div.content {
  align-items: center;
  grid-area: content;
}

div.side {
  display: none;
}

@media screen and (min-width: 700px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 230px;
    grid-template-areas: "content content side";
  }

  div.side {
    display: block;
    grid-area: side;
  }

  main > div.content > footer {
    display: none;
  }
}
