main {
  display: grid;
  grid-template-columns: 1fr 1fr 230px;
  grid-template-areas: "content content side";
  padding: 40px;
  width: fit-content;
  overflow-x: hidden;
}

main > div.content {
  align-items: center;
  grid-area: content;
}

div.side {
  grid-area: side;
}
