.MainProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 950px;
  width: 100%;
}

.MainProfile > .User-Info {
  column-gap: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2.5rem;
}

.User-Info > .Photo {
}

.User-Info > .Text {
}

.Text > .User-Stats {
  display: flex;
  column-gap: 0.5rem;
}

.User-Info > .Text > .Name {
  display: flex;
  column-gap: 0.5rem;
  flex-wrap: wrap;
}

.User-Info > .Text > .Name > .Buttons {
  display: flex;
  column-gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.editProfile {
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.editProfile:hover {
  background-color: #cbcbcb;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .MainProfile > .User-Info {
    flex-direction: row;
  }
}
