.Dropdown-Button {
  background-color: #fff;
  border: none;
  outline: none;
  width: 100%;
}

.Dropdown-Wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.Dropdown-Button {
  text-decoration: none;
  color: black;
  padding: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 5px;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.Dropdown-Button:hover {
  background-color: rgb(224, 224, 224);
}

.Dropdown {
  border: 0.2px solid rgb(205, 205, 205);
  border-radius: 10px;
  position: absolute;
  top: 0;
  transform: translate(0%, -100%);
  display: flex;
  flex-direction: column;
}

.Dropdown-Button > span.Dropdown-Text {
  display: none;
}

@media screen and (min-width: 700px) {
  .Dropdown-Button > span.Dropdown-Text {
    display: inline;
  }
}
