.Nav {
  height: 100vh;
  max-width: 200px;
  border-right: 0.5px solid rgb(209, 209, 209);
  padding-inline: 20px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
}

.Title {
  margin-block: 2.5rem;
  font-family: "Galada", cursive;
  font-size: 1.5rem;
}

.Routes {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.More,
.Routes,
.Title {
  display: flex;
  flex-direction: column;
}
