.Nav {
  height: 100vh;
  min-width: unset;
  width: min-content;
  border-right: 0.5px solid rgb(209, 209, 209);
  padding-inline: 10px;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
}

.Nav > .Title {
  text-align: center;
  margin-block: 1rem;
  font-family: "Galada", cursive;
  font-size: 1.8rem;
}

.Nav > .Routes {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Nav > .More,
.Nav > .Routes,
.Nav > .Title {
  display: flex;
  flex-direction: column;
}

.Nav > .Title > span:nth-child(1) {
  /* text */
  display: none;
}

.Nav > .Title > span.Icon {
  /* icon */
  display: inline;
}

@media screen and (min-width: 700px) {
  .Nav {
    min-width: 230px;
  }
  .Nav > .Title > span:nth-child(1) {
    display: inline;
  }
  .Nav > .Title > span.Icon {
    /* icon */
    display: none;
  }
}
