.Pictures {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: black;
}

.Picture {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.Picture-Container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex: none;
}

.Picture-Container > img {
  object-fit: cover;
  width: 100%;
}

.Picture-Left-Button,
.Picture-Right-Button {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  color: white;
  transform: translateY(-50%);
}

.Picture-Left-Button {
  left: 5px;
}

.Picture-Right-Button {
  right: 5px;
}

.Pictures > .Picture-Dots {
  display: flex;
  column-gap: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  bottom: 0;
}

.Pictures > .Picture-Dots > .Picture-Dot.Picture-Dot-Active {
  background-color: white;
}

.Pictures > .Picture-Dots > .Picture-Dot {
  background-color: rgb(185, 185, 185);
  width: 7px;
  height: 7px;
  border-radius: 100%;
  padding: 0;
  border: none;
  outline: none;
}
