body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  --link: #0a99f6;
}

a:visited {
  color: initial;
}

a {
  text-decoration: none;
}

a.blue-link {
  color: var(--link);
}
